@model Bootcamp

@section Header {
    @await Html.PartialAsync("_Header")
}
<div class="card" style="width: 18rem;"></div>
<img src="~/img/@Model.Image" style="width: 320px;" class="card-img-top" alt="...">
<div class="card-body">
    <h5 class="card-title">@Model.Title</h5>
    <p class="card-text">@Model.Description</p>
    <a href="#" class="btn btn-success">Detay</a>
</div>

